.overlay {
	margin-top: -4px;
	height: 97%;
  	width: 0;
  	position: fixed;
  	z-index: 1;
  	top: 50;
  	left: 0;
  	background-color: rgb(0,0,0);
  	background-color: rgba(0,0,0, 0.9);
  	overflow-x: hidden;
  	transition: 0.5s;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s;
}

.menu-content {
	color: white;
	font-size: 16px;
	font-family: Calibri;
	text-align: center;
	visibility: hidden;
	table-layout: fixed;
	width: 95%;
	height: 95%;
	padding: 5px;
}

div {
	margin-bottom: 50px;
	width: fit-content; 
	text-align: left;
	font-size: 14.9px;
	font-family: Calibri;
}

table {
	text-align: center;
}

th, td {
	padding: 5px;
}

a {
	text-decoration: none;
	font-style: italic;
	color: orange;
}

button {
	font-size: 16px;
	font-family: Calibri;
	cursor: pointer;
}

button:hover {
	color: blue;
	background-color: orange;
}

label {
	font-size: 16px;
	font-family: Calibri;
}

h3 {
	font-family: Calibri;
	font-size: 25px;
	color: blue;
	margin-top: 55px;
}

input {
	margin-top: 30px;
	font-family: Calibri;
	font-size: 14px;
	cursor: pointer;
	visibility: hidden;
}

#fileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#fileInputLabel {
	visibility: hidden;
	font-family: Calibri;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	background-color: #EEEEEE;
	padding: 2px 6px 2px 6px;
	border: 1px solid black;

}

#fileInputLabel:hover {
	background-color: orange;
	color: blue;
}

textarea {
	resize: none;
	overflow: hidden;
	width: 235px;
	height: 80px;
}

.JenkinsAll {
	visibility: hidden;
}

.width20 {
	width: 20%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
}

li {
	float: left;
	cursor: pointer;
}

li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-style: normal;
	color: white;
	font-size: 17px;
	font-family: Calibri;
}

li label {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-style: normal;
	color: white;
	font-size: 16px;
	font-family: Calibri;
}

li span {
	display: block;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
	font-style: normal;
	color: white;
	font-size: 17px;
	font-family: Calibri;
	cursor: pointer;
}

li a:hover, li span:hover {
	background-color: orange;
	color: blue;
}